.page.theme_dark {
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --main-title-color: #db00ff;
  --main-accent-color: #ff0070;
  --accent-color: #ff0070;
  --accent-color-type-hover: rgba(100, 0, 44, 0.4);
  --main-text-color: #f1b2ce;
  --secondary-text-color: #000028;
  --rec-visibility: visible;
}
  
@media (prefers-color-sheme: dark) {
  :root {
    --bg-color: #000028;
    --bg-image: url("../images/cover-image-dark.png");
    --main-title-color: #db00ff;
    --main-accent-color: #ff0070;
    --accent-color: #ff0070;
    --accent-color-type-hover: rgba(100, 0, 44, 0.4);
    --main-text-color: #f1b2ce;
    --secondary-text-color: #000028;
    --rec-visibility: visible;
  }
}
  